/*Element Selectors --------*/

:root {
 min-height: 100%;
 border-bottom: solid black 12px;
}

h1 {
  font-family: "Times New Roman";
  text-align: center;
  font-size: 80px;
  font-family: "Centaur";
  color: black;
  padding: 0;
  margin: 0;
  border-top: 6px solid black;
  border-bottom: 6px solid black;
  border-radius: 2%;  
}

body {
  background: linear-gradient(darkgoldenrod, rgb(112, 54, 17));
}



img {
  display: inline-block;
  width: 60%;
  margin: 0 0 2% 22%;
  border: solid black 1px;
  border-radius: 10%;
}

a:link {
  font-size: 32px;
  color: rgb(56, 174, 183);
  text-decoration: none;
  background: black 18px;
  border: solid lightgrey 2px;
}

a:visited {
  color: rgb(77, 255, 255);
  border: solid lightgrey 2px;
  border-radius: 20%; 
}

a:hover {
  color: gold;
  cursor: pointer;
}

a:focus {
  color: gold;
  border: dotted lightgrey 2px;
}

a:active {
  color: rgb(255, 255, 132);
  cursor: wait;
}
/*Class Selectors ------------*/

.tchname,
.quotedesc,
.tchhead {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  text-decoration: underline;
}

.copyright {
  font-size: 32px;
  text-align: center;
}

.tchinfo {
  font-size: 28px;
  text-align: center;
  display: inline-block;
  position: relative;
}







